.modal-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 24px 12px 16px;
   border-bottom: 1px solid rgb(222, 219, 219);

   .btn-close {
      font-size: 2rem;
      cursor: pointer;
   }
}

.modal-content {
   text-align: center;
   h3,
   h4 {
      margin-top: 24px;
      font-size: 1.8rem;
   }

   .img-qr {
      margin-top: 24px;
      width: 174px;
      border-radius: 4px;
   }
}

.modal-download {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 48px;

   a {
      display: block;
      padding: 6px;
   }

   .item-download {
      width: 50%;
      display: block;
      width: 138px;
      height: 40px;
      object-fit: contain;
      border-radius: 4px;
   }
}
