.menu-list {
   width: 224px;
   margin-top: 6px;

   .menu-item {
      margin-left: 0;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      height: 42px;
      border-radius: 0;
      color: rgba(1, 1, 1, 0.8);
   }

   & .seperate {
      border-top: 1px solid rgba(22, 24, 35, 0.24);
   }
}

.menu-item:hover {
   background-color: rgba(22, 24, 35, 0.03);
}

.menu-popper {
   padding-bottom: 8px;
   display: flex;
   flex-direction: column;
}

.menu-scroll {
   overflow: auto;
   overscroll-behavior: contain;
}

//header
.header {
   height: 50px;
   position: relative;
   margin-top: -8px;
   flex-shrink: 0;
}

.back-icon {
   width: 50px;
   height: 100%;
   background-color: transparent;
   cursor: pointer;
}

.header-title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
