.search,
.search-result {
   width: 361px;
}

.search {
   background-color: #eee;
   border-radius: var(--search-border-radius);
   height: 46px;
   display: flex;
   justify-content: space-between;
   border: 1.5px solid #eee;
   position: relative;

   input {
      font-family: var(--font-family);
      font-weight: 400;
      background-color: transparent;
      padding: 0 16px;
      flex: 1;
      border-radius: var(--search-border-radius);
      font-size: 1.6rem;
      height: 100%;
      color: var(--black);
      caret-color: var(--primary);
   }

   input:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.75);
   }

   &:focus-within:has(input:focus) {
      border-color: rgba(22, 24, 35, 0.2);
   }
}

.search-title {
   height: 30px;
   padding: 5px 12px;
   font-size: 14px;
   line-height: 20px;
   font-weight: 600;
   color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: calc(var(--search-btn-width) + 16px);
   color: rgba(22, 24, 35, 0.34);
   font-size: 1.6rem;
}

.loading {
   animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
   from {
      transform: translateY(-50%) rotate(0);
   }
   to {
      transform: translateY(-50%) rotate(360deg);
   }
}
.search-btn {
   position: relative;
   width: var(--search-btn-width);
   border-top-right-radius: var(--search-border-radius);
   border-bottom-right-radius: var(--search-border-radius);
   font-size: 1.8rem;
   color: rgba(22, 24, 35, 0.34);
   cursor: pointer;

   &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 28px;
      background-color: rgb(215 215 217);
   }

   &:hover {
      background: rgba(22, 24, 35, 0.03);
   }

   &:active .search:focus-within {
      border-color: transparent;
   }

   &:active {
      background-color: rgba(22, 24, 35, 0.06);
   }
}
