.wrapper {
   --search-border-radius: 92px;
   --search-btn-width: 52px;
   background-color: #fff;
   width: 100%;
   height: var(--default-layout-header-height, 60px);
   box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
   position: fixed;
   z-index: 10;
}

.inner {
   width: var(--default-layout-width);
   padding: 0 24px;
   height: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: flex;
   width: 300px;
}

//Actions
.actions {
   display: flex;
   align-items: center;
}

.more-btn {
   font-size: 2rem;
   margin-left: 28px;
   background-color: transparent;
   padding: 4px 8px;
   cursor: pointer;
}

.current-user {
   display: flex;
   align-items: center;
}

.action-btn {
   position: relative;
   background-color: transparent;
   font-size: 2.4rem;
   padding: 4px 14px;
   height: 100%;
   cursor: pointer;

   svg {
      vertical-align: middle;
   }
}

.message-icon {
   font-size: 2rem;
   margin-left: 16px;
}

.inbox-icon::after {
   content: '12';
   font-family: var(--font-family);
   position: absolute;
   top: 0;
   right: 4px;
   background-color: var(--primary);
   color: #fff;
   font-weight: 600;
   font-size: 1.2rem;
   padding: 3px 6px;
   border-radius: 98px;
}
.user-avatar {
   width: 32px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
   margin-left: 8px;
}
